$brand-theme-color: #008c8c; // 品牌主题色 

$border-color: #e0e0e0; // 边框颜色
$border-color-light: #efefef; // 边框亮色

$font-color-primary: #008c8c; // 默认文字颜色
$font-color-title: #676767; // 标题文字颜色
$font-color-small-title: #606060; // 小标题文字颜色

